<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
	  
	<add key="CustCode" value="Ayaz" />
    <add key="AppCode" value="App1" />
    <add key="AppName" value="ANPR System" />
    <add key="langCode" value="1" />
    <add key="camer1URL" value="rtsp://91.93.150.178:1161/main" />
    <add key="camer2URL" value="rtsp://admin:ms123456@91.93.150.178:1161/" />
    <add key="camer3URL" value="rtsp://admin:ms123456@31.223.20.141:1161/main" />
    <add key="camer4URL" value="rtsp://admin:ms123456@31.223.20.141:1161/main" />
    <add key="camer1UserId" value="admin" />
    <add key="camer1Password" value="ms123456" />
    <add key="motionLevel" value="0.000001" />
    <add key="camer1VideoEnable" value="1" />
    <add key="camer1VideoURL" value="D:\Ayaz Home Documents\My Project\Fivver\ANPR_2_Turkey\vidoes\demo_m.webm" />
    <add key="thersholdsecond" value="10" />
    <add key="CountryCode" value="TR" />
	<add key="WebImage" value="D:\Ayaz Home Documents\My Project\Fivver\ANPR_2_Turkey\Final\ANPR-Turkey-V1\ANPR_V1\ANPR_V1\ANPR Image\" />
    <add key="imgPath" value="D:\Ayaz Home Documents\My Project\Fivver\ANPR_2_Turkey\Final\ANPR-Turkey-V1\ANPR_V1\ANPR_V1\ANPR Image\" />
    <add key="exportPath" value="D:\Ayaz Home Documents\My Project\Fivver\ANPR_2_Turkey\Final\ANPR-Turkey-V1\ANPR_V1\ANPR_V1\Export\" />
    <add key="logoPath" value="D:\Ayaz Home Documents\My Project\Fivver\ANPR_2_Turkey\Final\ANPR-Turkey-V1\ANPR_V1\ANPR_V1\Logo\logo.png" />
    <add key="logoFolder" value="D:\Ayaz Home Documents\My Project\Fivver\ANPR_2_Turkey\Final\ANPR-Turkey-V1\ANPR_V1\ANPR_V1\Logo\" />
    <add key="ConnString" value="Data Source=tse-ltp-013;Initial Catalog=db_General;Persist Security Info=True;User ID=sa;Password=PAK123istan;" />
	<add key="ConnStringtest" value="Data Source=tse-ltp-013;Initial Catalog=db22;Persist Security Info=True;User ID=sa;Password=PAK123istan;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>